<form method = "post" action = "/firstroute">

<h1>Please pick your sandwich parts:</h1>
<center>
<h3> Please select your meats:</h3>
  <p><input  type="checkbox"  value="Ham" name ="components[]">Ham</p>
  <p><input  type="checkbox"  value="Turkey" name ="components[]">Turkey</p>
  <p><input  type="checkbox"  value="Salami" name ="components[]">Salami</p>
  <p><input  type="checkbox"  value="Pepperonni" name ="components[]">Pepperonni</p>
<h3> Please select your Veggies:</h3>
  <p><input  type="checkbox"  value="Lettuce" name ="components[]">Lettuce</p>
  <p><input  type="checkbox"  value="Tomato" name ="components[]">Tomato</p>
  <p><input  type="checkbox"  value="Onion" name ="components[]">Onion</p>
  <p><input  type="checkbox"  value="Olives" name ="components[]">Olives</p>
<h3> Please select your Cheese:</h3>
  <p><input  type="checkbox"  value="Swiss_Cheese" name ="components[]">Swiss Cheese</p>
  <p><input  type="checkbox"  value="American_Cheese" name ="components[]">American Cheese</p>
  <p><input  type="checkbox"  value="Provalone_Cheese" name ="components[]">Provalonen Cheese</p>
  <p><input  type="checkbox"  value="Pepper_Jack_Cheese" name ="components[]">Pepper_Jack Cheese</p>
</center>

<center><input type='submit'></center>
</form>
